*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --gradient: linear-gradient(
        45deg,
        #845ec2,
        #d65db1,
        #ff6f91,
        #ff9671,
        #ffc75f,
        #f9f871
    );
}
.logotext{
    margin-top: 2%;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
    color:#fff;
    text-shadow: 0px 5px 10px rgba(0,0,0,1);
    background: rgba(252, 252, 252, 0.2);
}
body{
    background-image:var(--gradient);
    background-attachment: fixed;
    background-size: 400%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left;
    animation: bg-animation 5s infinite alternate;
}
@keyframes bg-animation{
    0%{background-position: left;}
    100%{background-position: right;}
}
.board{
    margin-left: 36%;
    margin-top: 5%;
    animation: board-slide 4s ease-in;
}
@keyframes board-slide{
    0%{transform: translateX(-500px) rotate(90deg);}
    10%{transform: rotate(90deg);}
    70%{transform: translateX(0px);}
    90%{transform: rotate(20deg);}
    100%{transform: translateX(0px);}
}
.black{
    width: 50px;
    height: 50px;
    background-color: black;
    float: left;
    text-align: center;
    padding-top: 8px;
}
.white{
    float: left;
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255,0.3);
    backdrop-filter: blur;
    text-align: center;
    padding-top: 8px;
}
.clear{
    clear: both;
}
.white , .black{
    transition: transform 0.2s;
}
.white:hover{
    transform: scale(1.2);
}
.black:hover{
    transform: scale(0.8);
}
