*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --clr-neon:hsl(317 100% 54%);
    --gradient: linear-gradient(
        45deg,
        #341c5c,
        #721f59,
        #a01c3b,
        #a04929,
        #8b8b09
    );
}

body{
    background-image:var(--gradient);
    background-attachment: fixed;
    background-size: 400%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left;
    animation: bg-animation 5s infinite alternate;
}
@keyframes bg-animation{
    0%{background-position: left;}
    100%{background-position: right;}
}
.board{
    margin-left: 36%;
    margin-top: 5%;
    animation: board-slide 4s ease-in;
}
@keyframes board-slide{
    0%{transform: translateX(-500px) rotate(90deg);}
    10%{transform: rotate(90deg);}
    70%{transform: translateX(0px);}
    90%{transform: rotate(20deg);}
    100%{transform: translateX(0px);}
}
.black{
    width: 50px;
    height: 50px;
    background-color: black;
    float: left;
    text-align: center;
    padding-top: 8px;
}
.white{
    float: left;
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255,0.3);
    backdrop-filter: blur;
    text-align: center;
    padding-top: 8px;
}
.clear{
    clear: both;
}
.white , .black{
    transition: transform 0.2s;
}
.white:hover{
    transform: scale(1.2);
}
.black:hover{
    transform: scale(0.8);
}

.logotext{
    margin-top: 2%;
    margin-left: 40%;
    font-family: "Bebas Neue", sans-serif;
}
.logotext {
    font-size: 4rem;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    padding: 0.25em 1em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;  
    position: relative;
  }
  
  .logotext::before {
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-70px) perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);

  }
  
  
  