body{
    background-image: url(./chessbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}
.logo{
    width: 100px;
    height: 100px;
    background-image: linear-gradient(#e83b1b,#e7841c,#e83b1b);
    rotate: 45deg;
    margin-left: 635px;
    margin-top: 20px;
}
.white{
    background-color: white;
}
.black{
    background-color: #74994a;
}
.square{
    height: 50px;
    width: 50px;
    float: right;
}
.board{
    display: inline-block;
    margin-left: 480px;
    margin-top: 80px;
    width: 400px;
    height: 400px;
    outline: none;
    border-color: #830fe2;
    box-shadow: 0 0 50px #cbee03;
}
.logotext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translate3d(-20px,25px,0px);
    rotate: -45deg;
}