body{
    background-image: url(./chessbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    

}
.white{
    background-color: white;
}
.black{
    background-color: #74994a;
}
.square{
    height: 50px;
    width: 50px;
    float: right;
}
.board{
    margin: auto;
    margin-top: 150px;
    width: 400px;
    height: 400px;
    outline: none;
    border-color: #830fe2;
    box-shadow: 0 0 100px #da0959;
}
.logotext{
    text-align: center;
    margin-top: 100px;
    font-family:monospace;
    font-size: 60px;
    font-style:italic;
}