body{
    background-image: url(./chessbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.white{
    background-color: white;
}
.black{
    background-color: #74994a;
}
.square{
    height: 50px;
    width: 50px;
    float: right;
}
.board{
    margin: auto;
    width: 400px;
    height: 400px;
    outline: none;
    border-color: #830fe2;
    box-shadow: 0 0 100px #da0959;
}
.logotext{
    text-align: center;
    margin-top: 100px;
    font-family:monospace;
    font-size: 60px;
    font-style:italic;
}
.column-coordinates{
    margin-left: 38.25%;
    margin-top: 100px;

}
.coordinatex{
    font-size: 30px;
    margin: 0 19px;
}
.row-coordinates{
    float: left;
    margin-top: -21%;
}
.coordinatey{
    font-size: 30px;
    margin: 720px;
  
}
