body {
    background-image: linear-gradient(navy, rgb(180, 24, 19), orange);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(4px);
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background-position: left top;
    }
    100% {
        background-position: right bottom;
    }
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    gap: 0;
    margin: 400px 0;
    box-shadow: 0 0 1000px #f89500;
}



.square {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s;
}

.square:hover {
    transform: scale(1.1);
}

.black {
    background-color: rgb(0, 0, 0,0.6);
}

.white {
    background-color: rgb(255, 255, 255,0.2);
}

.logotext {
    text-align: center;
    margin-top: 25px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 60px;
    animation: textAnimation 5s infinite alternate;
}

@keyframes textAnimation {
    0% {
        color: #fff;
    }
    100% {
        color: #f89500;
    }
}

.coordinatex, .coordinatey {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    color: white;
    margin: 5px;
}
@media screen and (max-width: 1366px)
{
 .board{
    margin: 36px 0;
 }
}